{
  "parser": "babel-eslint",
  "settings": {},
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {    
    "react/sort-comp": ["error", {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }],
    "react/prefer-stateless-function": ["off"],
    "react/destructuring-assignment": ["off", "never"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/forbid-prop-types": ["error", { "forbid": ["any"]}],
    "react-hooks/rules-of-hooks": "error"
  }
}
