*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
}

.error,.info {
    text-align: center;
    margin: 0 auto;
    color: #535353;
    opacity: 0.6;
    text-shadow: 0 0 2px #868686;
    width: 100%;
}

.hidden {
    visibility: hidden;
}